<!-- <app-forms1></app-forms1> -->

<!-- <nav>
    <ul>
      <li><a routerLink="/forms" routerLinkActive="active">FORMS COMPONENT</a></li>
      <li><a routerLink="/counter" routerLinkActive="active">CUSTOM COUNTER</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet> -->
  <nz-layout>
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item><a routerLink="/counter" routerLinkActive="active">CUSTOM COUNTER</a></li>
        <li nz-menu-item><a routerLink="/forms" routerLinkActive="active">FORMS COMPONENT</a></li>
        <li nz-menu-item><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
        <li nz-menu-item><a routerLink="/passGenerator" routerLinkActive="active">Password Generator</a></li>
        <li nz-menu-item><a routerLink="/picCards" routerLinkActive="active">Profile Cards</a></li>
      </ul>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <div class="inner-content"><router-outlet></router-outlet></div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Waleed</nz-footer>
  </nz-layout>